node-red/estacion.json
[
    {
        "id": "ec2b388e.6c6ae8",
        "type": "tab",
        "label": "Estacion",
        "disabled": false,
        "info": ""
    },
    {
        "id": "58ec3a05.0bf574",
        "type": "mqtt in",
        "z": "ec2b388e.6c6ae8",
        "name": "",
        "topic": "casa/estacion/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "8e642561.f42ee8",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a5efbbea.4f43b8"
            ]
        ]
    },
    {
        "id": "a5efbbea.4f43b8",
        "type": "csv",
        "z": "ec2b388e.6c6ae8",
        "name": "Mediciones",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "Temperatura,Humedad",
        "skip": "0",
        "strings": true,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "f343162b.202d"
            ]
        ]
    },
    {
        "id": "f343162b.202d",
        "type": "function",
        "z": "ec2b388e.6c6ae8",
        "name": "Insert",
        "func": "var temp=msg.payload.Temperatura;\nvar hum=msg.payload.Humedad;\n//var sensor=\"sensor1\";\nvar n = msg.topic.lastIndexOf(\"/\");\nvar sensor = msg.topic.substr(n+1);\n\nmsg.topic = \"INSERT INTO mediciones (sensor,temperatura,humedad) VALUES ('\"+sensor+\"',\"+temp+\",\"+hum+\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "88c3f9d7.e25a4"
            ]
        ]
    },
    {
        "id": "88c3f9d7.e25a4",
        "type": "mysql",
        "z": "ec2b388e.6c6ae8",
        "mydb": "42c8a30f.96999c",
        "name": "",
        "x": 710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "8e642561.f42ee8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Raspberry",
        "broker": "192.168.1.92",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "42c8a30f.96999c",
        "type": "MySQLdatabase",
        "z": "",
        "name": "",
        "host": "192.168.1.92",
        "port": "3306",
        "db": "meteo",
        "tz": ""
    }
]